<!-- <app-observable-component> -->

<!-- </app-observable-component> -->

<!-- <h1>RxJS Observables</h1>
<a href="#" id="click-button">click here</a> -->

<!-- <app-new-observable></app-new-observable> -->

<!-- <app-function-observable></app-function-observable> -->

<!-- <app-cancelling-observable></app-cancelling-observable> -->


<div  style="display: flex">
  <div style="flex: 1;border-right: 2px solid black;">
    <div><h4>RXJS Operators</h4></div>
    <ul>
      <li><a routerLink="observables">Observables</a></li>

    </ul>

    <div><h4>Stepper Component</h4></div>
    <ul>
      <li><a routerLink="stepper">Stepper</a></li>
    </ul>

    <div><h4>Forms</h4></div>
    <ul>
      <li><a routerLink="forms/template">Template Form</a></li>
      <li><a routerLink="forms/reactive">Reactive Forms</a></li>
      <li><a routerLink="forms/dynamic">Reactive Dynamic Forms</a></li>
    </ul>
  </div>
  <div style="flex: 4;padding: 20px">
    <div><router-outlet></router-outlet></div>
  </div>
</div>
